<div class="Polaris-Card">
  <div class="Polaris-Card__Section Polaris-Card__Section--subdued">
    <div class="Polaris-Card__SectionHeader">
      <h3 class="Polaris-Subheading">Example tweet with current template</h3>
    </div>
    <p class="rendered-tweet-template">
      <%= @active_tweet_template.example_tweet %>
    </p>
  </div>
</div>
