<div class="Polaris-Card">
  <div class="Polaris-Card__Header">
    <h3 class="Polaris-Heading">Frequently Asked Questions</h3>
  </div>
  <div class="Polaris-Card__Section">
    <div class="Polaris-Card__SectionHeader">
      <h3 class="Polaris-Subheading">When are my tweets published?</h3>
    </div>
    <p>A new tweet will be published when one of the products in your store is back in stock. This applies when <strong>all variants</strong> of the product had 0 stock and <strong>at least one</strong> of them gets the stock restored to 1 or more units.</p>
  </div>
  <div class="Polaris-Card__Section">
    <div class="Polaris-Card__SectionHeader">
      <h3 class="Polaris-Subheading">Which message will be tweeted?</h3>
    </div>
    <p>The tweet's message will correspond to the template you have currently enabled, with the shortcodes replaced by the product's actual value.</p>
  </div>

  <div class="Polaris-Card__Section">
    <div class="Polaris-Card__SectionHeader">
      <h3 class="Polaris-Subheading">Can I create custom tweet templates?</h3>
    </div>
    <p>No. Currently, it isn't possible to create additional tweet templates.</p>
  </div>
  <div class="Polaris-Card__Section">
    <div class="Polaris-Card__SectionHeader">
      <h3 class="Polaris-Subheading">Can I disable automatic tweeting?</h3>
    </div>
    <p>Sure. You can disable automatic tweeting by unlinking your Twitter account in this app's frontpage.</p>
  </div>
</div>
