<div class="Polaris-Card">
  <div class="Polaris-Card__Section">
    <div class="Polaris-Card__SectionHeader">
      <h3 class="Polaris-Subheading">Active tweet template</h3>
    </div>
    <blockquote>
      Check out the most recent news about our <code>[product-title]</code>.<br>
      Now starting at <code>[product-price]</code>.<br><br>
      <code>[product-url]</code>
    </blockquote>
  </div>

  <div class="Polaris-Card__Section Polaris-Card__Section--subdued">
    <div class="Polaris-Card__SectionHeader">
      <h3 class="Polaris-Subheading">Example tweet</h3>
    </div>
    <blockquote>Check out the most recent news about our Fortaleza Wooden Sunglasses.<br>
    Now starting at 24.99€.<br><br>
    example.com/wooden-sunglasses</blockquote>
  </div>
</div>
