<div class="Polaris-Card">
  <div class="Polaris-Card__Section">
    <div class="Polaris-Card__SectionHeader">
      <h3 class="Polaris-Subheading">Active tweet template</h3>
    </div>
    <code class="rendered-tweet-template">
      <%= @tweet_template.template %>
    </code>
  </div>

  <div class="Polaris-Card__Section Polaris-Card__Section--subdued">
    <div class="Polaris-Card__SectionHeader">
      <h3 class="Polaris-Subheading">Example tweet with active template</h3>
    </div>
    <p class="rendered-tweet-template">
      <%= @tweet_template.example_tweet %>
    </p>
  </div>
</div>
