<div class="Polaris-Card">
  <div class="Polaris-Card__Header">
    <h2 class="Polaris-Heading">Active template for auto-tweets</h2>
  </div>
  <div class="Polaris-Card__Section">
    <div class="Polaris-Stack Polaris-Stack--vertical Polaris-Stack--spacingLoose">
      <div class="Polaris-Stack__Item rendered-tweet-template">
        <code><%= @active_tweet_template.template %></code>
      </div>
      <div class="Polaris-Stack__Item">
        <div class="Polaris-Stack Polaris-Stack--distributionTrailing">
          <div class="Polaris-Stack__Item">
            <div class="Polaris-ButtonGroup">
              <%= link_to tweet_templates_path do %>
                <div class="Polaris-ButtonGroup__Item">
                  <button type="button" class="Polaris-Button">
                    <span class="Polaris-Button__Content">
                      <span class="Polaris-Button__Text">Change active template</span>
                    </span>
                  </button>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
