<div class="Polaris-Page">
  <div class="Polaris-Page__Content">
    <div class="Polaris-Layout">
      <div class="Polaris-Layout__Section">
        <%= render "twitter_authentication" %>
        <%= render "active_tweet_template" %>
        <%= render "tweet_templates_list" %>
      </div>
    </div>
  </div>
</div>
